body{
    background: url("../Pic/bg-body.gif") ;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
}

.card{
    border: 5px solid black;
    background: white;
    float: left;
    width: 450px;
    height: 450px;
    margin: 20px;
    padding: 20px;
}

main{
    padding: auto auto;
}

.card img{
    width: 140px;
    height: 330px;
    float: right;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.header{
    background: url("../Pic/header-backgound.jpg") top center fixed;
    color: lightsalmon;
    font-size: 5em;
    font-weight: 700;
    padding: 80px 60px;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

/* .footer a{
    font-size: 30px;
    color: white;
    height: 30px;
    width: 100%;
    border: 1px solid black;
}

.footer{
    font-size: 30px;
    color: white;
    height: 30px;
    width: 100%;
    border: 1px solid black;
} */

.float-right{
    float: right;
}

.float-left{
    float: left;
}

nav {
    background-color: lightgray;
    overflow: hidden;
}

nav a:hover{
    background: gray;
}

nav a{
    float: left;
    background: lightgray;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

